<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Lista de Reservaciones
          </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <!--<h5 style="margin-top: 30px;" *ngIf="reserva.length == 0">No hay reservas para mostrar</h5>-->
          <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
            <mat-tab label="Reservaciones">
              <table class="table table-striped mt-5">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Cédula</th>
                    <th>Teléfono</th>
                    <th>Correo</th>
                    <th>Tipo de Habitación</th>
                    <th>Foto de pago</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let reserva of reservaciones">
                    <td class="posicion">{{reserva.Nombre}}</td>
                    <td class="posicion">{{reserva.Cedula}}</td>
                    <td class="posicion">{{reserva.Telefono}}</td>
                    <td class="posicion">{{reserva.Correo}}</td>
                    <td class="posicion">{{reserva.TipoHabitacion}}</td>
                    <td class="posicion">
                      <img  class="zoom"  width="200px" [src]="reserva.url" alt="" srcset="">
                   </td>
                    <td *ngIf="reserva.aceptado!=true">
                    <!-- <td> -->
                      <button mat-icon-button color="primary" (click)="aceptarReservas(reserva.id,reserva.url)">
                        <mat-icon>thumb_up</mat-icon>
                      </button>
                      <button mat-icon-button color="warn" (click)="eliminarReservas(reserva.id,reserva.url)">
                        <mat-icon>thumb_down</mat-icon>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </mat-tab>
            <mat-tab label="Comprobantes">
              <table class="table table-striped mt-5">
                <thead>
                  <tr>
                    <th>Imagen</th>
                    <th>Fecha</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="images" *ngFor="let image of images">
                    <td><img [src]="image"  width="170" height="190"></td>
                    
                  </tr>
                </tbody>
              </table>
            </mat-tab>
          </mat-tab-group>
        </mat-card-content>
      </mat-card>

    </div>
  </div>
</div>